<%- include("partilas/header") -%>
<body>
  <a href="/">
    <img class="logo animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
  </a>
  <p class="text-contenet">Lets do some work toghter:</p>
  <a class="text-contact" href="mailto:mabdulla.alt@gmail.com?subject=Work request">Email Me</a>
  <a class="text-contact" href="tel:+249990017698">Call me</a>
  <h2 class="center ">Or you can find me at</h2>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
  <a href="#"><img class="log-contact " src="https://img.icons8.com/cute-clipart/48/000000/github.png"/></a>
  <a href="/">
    <img  class="contact-logo animate__animated animate__fadeInDown" src="css/logo.svg" alt="">
  </a>
</body>
