<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
  <meta charset="utf-8">
  <title>Moax PortFolio</title>
  <meta charset="utf-8">
  <div class="contaner">
    <nav class="">
      <ul class="animate__animated animate__fadeInDown">
        <li class="naVitem"><a href="/">Home</a></li>
        <li class="naVitem"><a href="/about">About</a></li>
        <li class="naVitem"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
